@import url(https://fonts.googleapis.com/css?family=Akronim);
.navbar {
  background-color: #75b1ff4b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px #378cfc80;
}
.Logo {
  font-family: "Akronim";
  font-size: 50px;
  color: #378dfc;
}
