.post {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 20px;
  background-color: rgb(131 200 255);
  border-radius: 10px;
}
.post-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price {
  display: flex;
  align-items: center;
  color: rgb(2, 0, 141);
}
