main {
  min-height: 80vh;
}

.navbar-nav {
  align-items: center;
}
.btn {
  padding: 123px 24px;
}
.home {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.navLnk {
  margin: 10px;
}
.title {
  display: flex;
  justify-content: center;
  /* padding: 80px; */
}
.cont {
  padding-top: 50px;
}
.h2User {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.h2User h1 {
  letter-spacing: 4px;
}
.profile_buttons {
  display: flex;
  justify-content: space-between;
}
.post1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 77vh;
}
