main {
  min-height: 80vh;
}

.navbar-nav {
  align-items: center;
}
.btn {
  padding: 123px 24px;
}
.home {
  /* padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; */

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.navLnk {
  margin: 10px;
}
.title {
  display: flex;
  justify-content: center;
  /* padding: 80px; */
}
.cont {
  padding-top: 50px;
}
.h2User {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.h2User h1 {
  letter-spacing: 4px;
}
.profile_buttons {
  display: flex;
  justify-content: space-between;
}
.post1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 77vh;
}
.ONe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.booking-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background: rgb(156, 156, 156);
  margin: 15px;
  color: black;
  border-radius: 10px;
}
.home {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.carpooling-parag {
  background-color: #75b1ff4b;
  border: 1px solid #378cfc80;
  border-radius: 15px;
  padding: 45px;
  margin: 50px;
}
.carpooling {
  font-size: 30px;
}
